@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
    font-family: "Pangolin", sans-serif;
}

.logo {
  font-family: "Baloo 2", sans-serif;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari/Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}
